@using SaaSFulfillmentClient.Models
@model AzureSubscriptionProvisionModel

@{
    ViewData["Title"] = "Index";
}

<h1>Configure subscription</h1>

<p>The publisher can add new fields to the form like below to capture more information from the subscriber and style as necessary.</p>

<hr />

<span class="text-danger">@Html.ValidationSummary(false)</span>

<form asp-action="Index">
    <div class="container">
        <dl class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Email)
                            <input asp-for="Email" type="hidden" class="form-control" />
                        </dd>
                    </div>

                    <div class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.FullName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.FullName)
                            <input asp-for="FullName" type="hidden" class="form-control" />
                        </dd>
                    </div>

                </div>

                <div class="panel panel-default">

                    <div class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.OfferId)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.OfferId)
                            <input asp-for="OfferId" type="hidden" class="form-control" />
                        </dd>
                    </div>

                    <div class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PlanId)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PlanId)
                            <input asp-for="PlanId" type="hidden" class="form-control" />
                        </dd>
                    </div>

                    <div class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PurchaserEmail)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PurchaserEmail)
                            <input asp-for="PurchaserEmail" type="hidden" class="form-control" />
                        </dd>
                    </div>

                    <div class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PurchaserTenantId)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PurchaserTenantId)
                            <input asp-for="PurchaserTenantId" type="hidden" class="form-control" />
                        </dd>
                    </div>

                    @if (Model.SubscriptionStatus == StatusEnum.Subscribed)
                    {
                        <div class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.AvailablePlans)
                            </dt>

                            <dd class="col-sm-10">

                                <select asp-for="NewPlanId" asp-items="@(new SelectList(Model.AvailablePlans, "PlanId", "DisplayName"))" class="form-control">
                                    <option value="">Choose a new plan, or plan you wish to be on.</option>
                                </select>
                            </dd>
                        </div>
                    }

                    <div class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.SubscriptionId)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.SubscriptionId)
                            <input asp-for="SubscriptionId" type="hidden" class="form-control" />
                        </dd>
                    </div>

                    <div class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.SubscriptionName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.SubscriptionName)
                            <input asp-for="SubscriptionName" type="hidden" class="form-control" />
                        </dd>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Region)
                        </dt>
                        <dd class="col-sm-2">
                            <select asp-for="Region" asp-items="Html.GetEnumSelectList<TargetContosoRegionEnum>()" class="form-control">
                                <option selected="selected" value="">Please select</option>
                            </select>
                        </dd>
                        <div class="col-sm-8"></div>
                    </div>

                    <div class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.BusinessUnitContactEmail)
                        </dt>
                        <dd class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-3">
                                    <input asp-for="BusinessUnitContactEmail" type="email" class="form-control" />
                                </div>
                                <div class="col-sm-9">
                                    <p>*The purchaser (who sees this page) can be different than the actual user of the solution.</p>
                                </div>
                            </div>
                        </dd>
                    </div>
                </div>
            </div>
        </dl>
        @* Just to carry over the subscription status, so we can determine if we are here for initial
            provisioning or configuration later in the life of the subscription*@
        <input asp-for="SubscriptionStatus" type="hidden" class="form-control" />
    </div>
    <div>
        <input type="submit"
               value="Submit"
               class="btn btn-primary" />
    </div>
</form>