@model IEnumerable<Dashboard.Models.SubscriptionViewModel>
@{
    ViewData["Title"] = "All Offer Subscriptions";
}

<h1>All Offer Subscriptions</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OfferId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlanId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubscriptionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubscriptionName)
            </th>
            <th>Actions</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OfferId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlanId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubscriptionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubscriptionName)
                </td>
                <td>
                    @if (!item.PendingOperations)
                    {
                        @foreach (var a in item.NextActions)
                        {
                            <span> @Html.ActionLink(Enum.GetName(typeof(ActionsEnum), a), "SubscriptionAction", new { subscriptionAction = a, subscriptionId = item.SubscriptionId }) </span>
                        }
                    }
                    else
                    {
                        <span><p>Pending operations</p></span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Operations", "Operations", new { item.SubscriptionId })
                </td>
            </tr>
        }
    </tbody>
</table>

<ul>
    <li>Basic landing page test link with mock API: @Html.ActionLink("Page", "Index", "LandingPage", new { token = "anOpaqueToken" }) </li>
    <li>Advanced landing page test link with mock API: @Html.ActionLink("Page", "Index", "LandingPageAdvanced", new { token = "anOpaqueToken" }) </li>
</ul>