@model UpdateSubscriptionViewModel
@{
    ViewData["Title"] = "All Offer Subscriptions";
}

<h1>Update Subscriptions</h1>

<hr />

<span class="text-danger">@Html.ValidationSummary(false)</span>

<form method="post">
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SubscriptionName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SubscriptionName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SubscriptionId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SubscriptionId)
                <input asp-for="SubscriptionId" type="hidden" class="form-control" />
            </dd>
        </dl>
    </div>

    <table class="table table-bordered">
        <tr>
            <td>@Html.DisplayNameFor(model => model.CurrentPlan)</td>
            <td>@Html.DisplayFor(model => model.CurrentPlan)</td>
            @if (Model.CurrentQuantity > 0)
            {
                <td>@Html.DisplayNameFor(model => model.CurrentQuantity)</td>
                <td>@Html.DisplayFor(model => model.CurrentQuantity)</td>
            }
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.AvailablePlans)</td>
            <td>
                <select asp-for="NewPlan" asp-items="@(new SelectList(Model.AvailablePlans, "PlanId", "DisplayName"))" class="form-control">
                    <option value="">Choose a new plan</option>
                </select>
            </td>
            @if (Model.CurrentQuantity > 0)
            {
                <td>@Html.DisplayNameFor(model => model.NewQuantity)</td>
                <td>@Html.EditorFor(model => model.NewQuantity)</td>
            }
        </tr>
        <tr>
            <td colspan="2"><button asp-action="UpdateSubscription" class="btn btn-primary">Change Plan</button></td>
            @if (Model.CurrentQuantity > 0)
            {
                <td colspan="2"><button asp-action="UpdateSubscriptionQuantity" class="btn btn-primary">Change Quantity</button></td>
            }
        </tr>
    </table>


</form>